GridJaasLoginContext {
    com.sun.security.auth.module.LdapLoginModule SUFFICIENT
    userProvider="ldap://3.15.156.212:389/CN=Users,DC=gridfoo,DC=com"
    authIdentity="{USERNAME}@gridfoo.com"
    userFilter="(&(sAMAccountName={USERNAME})(memberOf=CN=GG_CacheReadOnlyUsers,CN=Users,DC=gridfoo,DC=com))"
    authzIdentity="GG_CacheReadOnlyUsers";

    com.sun.security.auth.module.LdapLoginModule SUFFICIENT
    userProvider="ldap://3.15.156.212:389/CN=Users,DC=gridfoo,DC=com"
    authIdentity="{USERNAME}@gridfoo.com"
    userFilter="(&(sAMAccountName={USERNAME})(memberOf=CN=GG_CacheReadWriteUsers,CN=Users,DC=gridfoo,DC=com))"
    authzIdentity="GG_CacheReadWriteUsers";

    com.sun.security.auth.module.LdapLoginModule SUFFICIENT
    userProvider="ldap://3.15.156.212:389/CN=Users,DC=gridfoo,DC=com"
    authIdentity="{USERNAME}@gridfoo.com"
    userFilter="(&(sAMAccountName={USERNAME})(memberOf=CN=GG_WebConsoleUsers,CN=Users,DC=gridfoo,DC=com))"
    authzIdentity="GG_WebConsoleUsers";

    com.sun.security.auth.module.LdapLoginModule SUFFICIENT
    userProvider="ldap://3.15.156.212:389/CN=Users,DC=gridfoo,DC=com"
    authIdentity="{USERNAME}@gridfoo.com"
    userFilter="(&(sAMAccountName={USERNAME})(memberOf=CN=GG_SuperUsers,CN=Users,DC=gridfoo,DC=com))"
    authzIdentity="GG_SuperUsers";
};
