GridJaasLoginContext {
    com.sun.security.auth.module.LdapLoginModule OPTIONAL
    userProvider="ldap://3.15.156.212:389/CN=Users,DC=gridfoo,DC=com"
    authIdentity="{USERNAME}@gridfoo.com"
    userFilter="(&(sAMAccountName={USERNAME})(memberOf=CN=GG_CacheReadOnlyUsers,CN=Users,DC=gridfoo,DC=com))"
    authzIdentity="GG_CacheReadOnlyUsers"
    useSSL=false
    debug=false;

    com.sun.security.auth.module.LdapLoginModule OPTIONAL
    userProvider="ldap://3.15.156.212:389/CN=Users,DC=gridfoo,DC=com"
    authIdentity="{USERNAME}@gridfoo.com"
    userFilter="(&(sAMAccountName={USERNAME})(memberOf=CN=GG_CacheReadWriteUsers,CN=Users,DC=gridfoo,DC=com))"
    authzIdentity="GG_CacheReadWriteUsers"
    useSSL=false
    debug=false;

    com.sun.security.auth.module.LdapLoginModule OPTIONAL
    userProvider="ldap://3.15.156.212:389/CN=Users,DC=gridfoo,DC=com"
    authIdentity="{USERNAME}@gridfoo.com"
    userFilter="(&(sAMAccountName={USERNAME})(memberOf=CN=GG_WebConsoleUsers,CN=Users,DC=gridfoo,DC=com))"
    authzIdentity="GG_WebConsoleUsers"
    useSSL=false
    debug=false;

    com.sun.security.auth.module.LdapLoginModule OPTIONAL
    userProvider="ldap://3.15.156.212:389/CN=Users,DC=gridfoo,DC=com"
    authIdentity="{USERNAME}@gridfoo.com"
    userFilter="(&(sAMAccountName={USERNAME})(memberOf=CN=GG_SuperUsers,CN=Users,DC=gridfoo,DC=com))"
    authzIdentity="GG_SuperUsers"
    useSSL=false
    debug=false;
};
